.clear {
  clear: both;
}
html, body, h1, h2, .result pre {
  margin: 0;
}
.content {
  margin: 20px 0 20px 0;
}
.compile {
  margin: 40px auto;
  padding: 6px 10px;
  width: 140px;
  line-height: 18px;
  background: #B1E9B1;
  display: block;
  color: #000;
  border-radius: 6px;
  border: solid 1px #4FBB4F;
  box-shadow: 0px 0px 6px #888888;
}
footer .delimeter {
  margin: 4px 0 4px 0;
}
html, body, .result pre {
  padding: 0;
}
h1 {
  padding: 60px 0 30px 0;
  font-size: 60px;
}
h2 {
  padding: 30px 0 15px 0;
}
.editor-wrapper, .result {
  padding: 20px 10px 20px 10px;
  width: 50%;
  height: 420px;
  border-top: solid 2px #C9C9C9;
  border-bottom: solid 2px #C9C9C9;
  background: solid 1px #C9C9C9;
  float: left;
}
footer {
  padding: 20px;
  background: #ECECEC;
}
html, body, #editor {
  width: 100%;
  height: 100%;
}
html, body {
  font-family: Georgia;
  line-height: 24px;
}
html, body, .compile {
  font-size: 20px;
}
h2, footer a, footer .delimeter:after {
  font-size: 30px;
}
.result {
  font-size: 18px;
  pre: [object Object];
}
.compile small {
  font-size: 11px;
  line-height: 11px;
}
h1, h2, .compile, footer {
  text-align: center;
}
h1, h2 {
  font-weight: normal;
}
.compile:hover {
  background: #74DF68;
}
.editor-wrapper, .result, footer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.result pre {
  word-wrap: break-word;
}
footer a {
  display: inline-block;
}
.compile, footer a {
  text-decoration: none;
}
footer, footer a {
  color: #707169;
}
footer a:hover {
  color: #2d2d2a;
}
footer .delimeter:after {
  content: "...";
}
