<h2>Client-side usage</h2>

<section>
	<div class="desc">
		<p>
			Download the client-side version:<br />
			<a href="https://raw.github.com/krasimir/absurd/master/client-side/build/absurd.js" target="_blank">absurd.js</a><br />
			<a href="https://raw.github.com/krasimir/absurd/master/client-side/build/absurd.min.js" target="_blank">absurd.min.js</a><br /><br />
			After that simply include the file into your page.
		</p>
	</div>
	<div class="code">
		<pre><code class="language-markup">&lt;script src="absurd.min.js">&lt;/script></code></pre>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<p>Initialize Absurd and use the API.</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">var api = Absurd();
api.add({
	body: {
		marginTop: "20px",
		p: {
			color: "#000"
		}
	}
});</code></pre>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<p>Compile and get the CSS.</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">api.compile(function(err, css) {
	// use the compiled css
});</code></pre>
	</div>
	<br class="clear">
</section>

<h3>Client-side tests</h3>

<section>
	<div class="desc">
		<p>Just download the files from the repository and open <strong>/client-side/tests</strong> in your browser.</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">/client-side/tests</code></pre>
	</div>
	<br class="clear">
</section>
<h2>Server-side usage</h2>
<section>
	<div class="desc">
		<h4>Installation</h4>
	</div>
	<div class="code"><pre><code class="language-javascript">npm install -g absurd</code></pre></div>
	<br class="clear">
</section>
<h3>Compilation</h3>

<section>
	<div class="desc">
		<h4>Inline compilation</h4>
		<p>Use this approach if you want to integrate AbsurdJS into your NodeJS app.</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">var Absurd = require("absurd");
Absurd(function(api) {
    // use the Absurd's api here
}).compile(function(err, css) {
    // do something with the css
});</code></pre>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<h4>Inline compilation to a file</h4>
		<p>Use this approach if you want to integrate AbsurdJS into your NodeJS app and save the result to a file.</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">var output = "./css/styles.css";
Absurd("./css/styles.js").compileFile(output, function(err, css) {
    // ...
});</code></pre>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<h4>Compiling through command line interface</h4>
	</div>
	<div class="code">
		<pre><code class="language-javascript">// Outputs the css in the console.
absurd -s [source file] 

// Outputs the css to a file.
absurd -s [source file] -o [output file]

// Outputs the css to a file and watching 
// specific directory. If some of the files 
// there is changed a compilation is fired.
absurd -s [source file] -o [output file] -w [directory]

// Minify the CSS
absurd -s [source file] -m true

// Preprocessing html
absurd -s [source file] -t html

// keep the camel case of the properties
absurd -s [source file] -k true</code></pre>

Here are two examples uses all the options:
<pre><code class="language-javascript"># as css parser
node ./index.js -s ./tests/data/css/index.js -o ./tests/data/result/res.css -w ./tests/data/**/*.js -m true

# as html parser 
node ./index.js -s ./tests/data/html.json -o ./tests/data/result/code.html -w ./tests/data/**/*.json -m true -t html</code></pre>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<h4>Using with Grunt</h4>
		<a href="https://github.com/krasimir/grunt-absurd">grunt-absurd - the official Grunt plugin of AbsurdJS</a>
	</div>
	<div class="code">
		<p>Dependencies for your package.json:</p>
		<pre><code class="language-javascript">"dependencies": {
    "grunt": "~0.4.1",
    "grunt-contrib-watch": "*",
    "grunt-absurd": "*"
}</code></pre>
	<p>Simple Gruntfile.js:</p>
	<pre><code class="language-javascript">module.exports = function(grunt) {

    grunt.initConfig({
        absurd: {
            task: {
                src: __dirname + "/css/absurd/index.js",
                dest: 'css/styles.css'
            }
        },
        watch: {
            css: {
                files: ['css/absurd/**/*.js'],
                tasks: ['absurd']
            }
        }
    });

    grunt.loadNpmTasks('grunt-contrib-watch');
    grunt.loadNpmTasks('grunt-absurd');

    // grunt.registerTask('default', ['concat', 'less']);
    grunt.registerTask('default', ['absurd', 'watch']);

}</code></pre>
	</div>
	<br class="clear">
</section>



<h3>Input formats</h3>

<section>
	<div class="desc">
		<h4>JavaScript</h4>
		<p>Just create a .js file like for example /css/styles.js. The file should contain the usual nodejs module code.</p>
	</div>
	<div class="code"><pre><code class="language-javascript">module.exports = function(api) {
    // use the Absurd's api here
}</code></pre></div>
	<br class="clear">
</section>



<section>
	<div class="desc">
		<h4>JSON</h4>
		<p>The library supports importing of pure JSON. Of course this approach doesn't give you an access to the API, but it is still useful if you want to skip the typical Nodejs module definition.</p>
	</div>
	<div class="code"><pre><code class="language-javascript">// styles.json
{
    "body": {
        "margin": "0",
        "padding": "0",
        "fontSize": "1em",
        "p": {
            "line-height": "30px"
        }
    }
}

// app.js
Absurd("styles.json").compile(function(err, css) {
    // ...
});</code></pre></div>
	<br class="clear">
</section>



<section>
	<div class="desc">
		<h4>CSS</h4>
		<p>Absurd accepts normal CSS. The good news is that you can still use all the other features.</p>
	</div>
	<div class="code"><pre><code class="language-javascript">// styles.js
api.plugin("size", function(api, type) {
    switch(type) {
        case "large": return { fontSize: "30px" }; break;
        case "medium": return { fontSize: "24px" }; break;
        case "small": return { fontSize: "12px" }; break;
        default: return { fontSize: "16px" };
    }
});
api.import(__dirname + "/css/main.css");

// main.css
body {
    margin-top: 10px;
    size: small;
}</code></pre>
	<p>And the result is:</p>
	<pre><code class="language-css">body {
    margin-top: 10px;
    font-size: 12px;
}</code></pre>
	</div>
	<br class="clear">
</section>


<section>
	<div class="desc">
		<h4>YAML</h4>
		<p>The library supports import of YAML files</p>
	</div>
	<div class="code"><pre><code class="language-javascript">// styles.yaml
---
body:
  margin: 0
  padding: 0
  fontSize: 1em
  p:
    line-height: 30px

// app.js
Absurd("styles.yaml").compile(function(err, css) {
    // ...
});</code></pre></div>
	<br class="clear">
</section>
<h3>Syntax</h3>

<section>
	<div class="desc">
		<p>In the context of JavaScript the closest thing to pure CSS syntax is JSON format. So, every valid JSON is actually valid Absurd syntax. As you can see above, there are two ways to send styles to the module. In both cases you have an access to the Absurd's API.</p>
	</div>
	<div class="code"><pre><code class="language-javascript">Absurd(function(api) {
    api.add({});
});</code></pre>
	<p>or in an external js file</p>
	<pre><code class="language-javascript">module.exports = function(api) {
    api.add({});
}</code></pre>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<p>The add method accepts valid JSON. This could be something like</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">{
    body: {
        marginTop: '20px',
        padding: 0,
        fontWeight: 'bold',
        section: {
            paddingTop: '20px'
        }
    }
}</code></pre>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<p>Every object defines a selector. Every property of that object could be a property and its value or another object. For example the JSON above is compiled to:</p>
	</div>
	<div class="code">
		<pre><code class="language-css">body {
    margin-top: 20px;
    padding: 0;
    font-weight: bold;
}
body section {
    padding-top: 20px;
}</code></pre>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<p>Have in mind that you don't need to quote the CSS properties. AbsurdJS converts every uppercase letter to a dash followed by the lowercase version of the letter. I.e.:</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">WebkitTransform -> -webkit-transform</code></pre>
		<p>You may send even an array of style like that</p>
		<pre><code class="language-javascript">{
    '.header nav': [
        { fontSize: '10px' },
        { fontSize: '20px' }
    ]
}</code></pre>
		<p>And that's compiled to</p>
		<pre><code class="language-css">.header nav {
    font-size: 20px;
}</code></pre>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<h4>Pseudo classes</h4>
		<p>It's similar like the example above:</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">a: {
    textDecoration: 'none',
    color: '#000',
    ':hover': {
        textDecoration: 'underline',
        color: '#999'
    },
    ':before': {
        content: '"> "'
    }
}</code></pre>
		<p>Is compiled to:</p>
		<pre><code class="language-css">a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
    color: #999;
}
a:before {
    content: "> ";
}</code></pre>
	</div>
	<br class="clear">
</section>

<a name="syntax.ampersand"></a>
<section>
    <div class="desc">
        <h4>Using ampersand (<strong>&amp;</strong>) operator</h4>
        <p>It has the same meaning like in LESS.</p>
    </div>
    <div class="code">
        <pre><code class="language-javascript">a: {
    color: '#000',
    '&.sky': {
        color: "blue"
    }
}</code></pre>
        <p>Is compiled to:</p>
        <pre><code class="language-css">a {
  color: #000;
}
a.sky {
  color: blue;
}</code></pre>
    </div>
    <br class="clear">
</section>

<section>
	<div class="desc">
		<h4>Importing</h4>
		<p>Of course you can't put everything in a single file. That's why there is .import method:</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">module.exports = function(api) {
    api.import(__dirname + '/config/colors.js');
    api.import(__dirname + '/config/sizes.js');
    api.import([
        __dirname + '/layout/grid.json'
    ]);
    api.import([
        __dirname + '/forms/login-form.css',
        __dirname + '/forms/feedback-form.css'
    ]);
}</code></pre>
		<p>Pay attention to the type of the files. The first two are actually JavaScript files, because they need an access to the API (to define mixins, plugins etc ...). The second import statement adds the actual styling. Of course it is not necessary to use this approach, but writing pure JSON sometimes may be a better option.</p>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<h4>Using variables</h4>
		<p>There is no need to use something special. Because that's pure javascript you may write:</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">var brandColor = "#00F";
Absurd(function(api) {
    api.add({
        '.header nav': {
            color: brandColor
        }
    })
})</code></pre>
		<p>However, if you want to share variables between the files you may use the API's method storage. Let's say that you have two files /css/A.js and /css/B.js and you want to share values between them.</p>
		<pre><code class="language-javascript">// A.js
module.exports = function(api) {
    api.storage("brandColor", "#00F");
}

// B.js
module.exports = function(api) {
    api.add({
        body: {
            color: api.storage("brandColor")
        }
    })
}</code></pre>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<h4>Mixins</h4>
		<p>In the context of Absurd mixins are actually normal javascript functions. The ability to put things inside the Absurd's storage gives you also the power to share mixins between the files. For example:</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">// A.js
module.exports = function(api) {
    api.storage("button", function(color, thickness) {
        return {
            color: color,
            display: "inline-block",
            padding: "10px 20px",
            border: "solid " + thickness + "px " + color,
            fontSize: "10px"
        }
    });
}

// B.js
module.exports = function(api) {
    api.add({
        '.header-button': [
            api.storage("button")("#AAA", 10),
            {
                color: '#F00',
                fontSize: '13px'
            }
        ]
    });
}</code></pre>
		<p>What you do is to send array of two objects to the selector '.header-button'. The above code is compiled to:</p>
		<pre><code class="language-css">.header-button {
    color: #F00;
    display: inline-block;
    padding: 10px 20px;
    border: solid 10px #AAA;
    font-size: 13px;
}</code></pre>
		<p>Notice that the second object overwrites few styles passed via the mixin.</p>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<h4>Plugins (i.e. define your own CSS properties)</h4>
		<p>The plugins are similar like mixins, but act as property-value pair. There is an API method for registering plugins. </p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">api.plugin('my-custom-gradient', function(api, colors) {
    return {
        background: 'linear-gradient(to bottom, ' + colors.join(", ") + ')'
    };
});
api.plugin('brand-font-size', function(api, type) {
    switch(type) {
        case "small": return { fontSize: '12px'}; break;
        case "medium": return { fontSize: '22px'}; break;
        case "big": return { fontSize: '32px'}; break;
        default: return { fontSize: '12px'}; break;
    }
});</code></pre>
		<p>The code creates two plugins, which respond on my-custom-gradient and brand-font-size property. So, the following styles</p>
		<pre><code class="language-javascript">api.add({
    body: {
        margin: '20px',
        fontSize: '14px',
        'my-custom-gradient': ['#F00', '#00F'],
        p: {
            'brand-font-size': 'big'    
        }                   
    }
});</code></pre>
		<p>are compiled to:</p>
		<pre><code class="language-css">body {
    margin: 20px;
    font-size: 14px;
    background: linear-gradient(to bottom, #F00, #00F);
}
body p {
    font-size: 32px;
}</code></pre>
		<p>Have in mind, that the plugin should always return an object.</p>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<h4>Media queries</h4>
	</div>
	<div class="code">
		<p>The following code</p>
		<pre><code class="language-javascript">api.add({
    body: {
        lineHeight: '20px',
        '@media all (max-width: 950px)': {
            lineHeight: '40px',
            color: '#BADA55'
        },
        '@media all (min-width: 550px)': {
            lineHeight: '32px'  
        },
        p: {
            margin: '10px',
            padding: '4px',
            '@media all (max-width: 950px)': {
                padding: '12px',
                'brand-color': ''
            }
        }
    }
});</code></pre>
		<p>is compiled to</p>
		<pre><code class="language-css">body {
    line-height: 20px;
}
body p {
    margin: 10px;
    padding: 4px;
}
@media all (max-width: 950px) {
    body {
        line-height: 40px;
        color: #BADA55;
    }
    body p {
        color: #9fA;
        padding: 12px;
    }
}
@media all (min-width: 550px) {
    body {
        line-height: 32px;
    }
}</code></pre>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<h4>Sending raw data to the final compiled CSS</h4>
		<p>AbsurdJS gives you ability to directly send content to the final CSS. I.e. something which is skipped by the compiler and it is directly concatenated with the processed data.</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">api
.add({
    body: {
        marginTop: "20px",
        p: {
            fontSize: "5px"
        }
    }
})
.raw('/* ' + comment + ' */')
.add({
    a: {
        paddingTop: "20px"
    }
});</code></pre>
		<p>The code above is compiled to</p>
		<pre><code class="language-css">body {
  margin-top: 20px;
}
body p {
  font-size: 5px;
}
/* AbsurdJS is awesome! */
a {
  padding-top: 20px;
}</code></pre>
	</div>
	<br class="clear">
</section>
<h2>Extending</h2>

<section>
	<div class="desc">
		<p>
			You may create your own CSS properties by using the <em>plugins</em> feature.
		</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">api.plugin("hoverEffect", function(api, color) {
	return {
		":hover": {
			color: color,
            background: api.lighten(color, 60)
		}
	}
})
api.add({
	a: {
		color: "#000",
		hoverEffect: "#999"
	}
});</code></pre>
	</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<p>
			You could create your own API methods.
		</p>
	</div>
	<div class="code"><pre><code class="language-javascript">api.register("buttonize", function(selector) {
	var styles = {};
	styles[selector] = {
		cursor: "pointer",
		display: "block",
		background: "#aaa",
		":hover": {
			background: "#ddd"
		}
	};
	api.add(styles);
});
api.buttonize(".header a");</code></pre>The code above produces:<pre><code class="language-javascript">.header a {
  cursor: pointer;
  display: block;
  background: #aaa;
}
.header a:hover {
  background: #ddd;
}</code></pre>
</div>
	<br class="clear">
</section>

<section>
	<div class="desc">
		<p>
			Every API method could be overwritten. You are able to run your own function instead of the original one. If your method returns <em>true</em> then the default behaviour of the method is suppressed and only your implementation works.
		</p>
	</div>
	<div class="code"><pre><code class="language-javascript">api.hook("add", function(rules) {	
	if(rules.grid) {
		var styles = {};
		styles[rules.grid.parent] = parentStyles = {
			":after": {
				display: "table",
				content: "",
				clear: "both"
			}
		};
		parentStyles[rules.grid.child] = {
			width: (100 / rules.grid.columns) + "%",
			float: "left"
		};
		api.add(styles);
		return true;
	}
});
api.add({
	grid: {
		parent: ".header .menu",
		child: ".link",
		columns: 4
	}
});</code></pre>
		<p>And the result is:</p><pre><code class="language-javascript">.header .menu:after {
  display: table;
  content: "";
  clear: both;
}
.header .menu .link {
  width: 25%;
  float: left;
}</code></pre>
</div>
	<br class="clear">
</section>
<h2>Metamorphosis / HTML</h2>

<!-- ----------------------- -->
<section>
	<div class="desc">
		<p>
			AbsurdJS was made really flexible. It is so flexible that you can use it as HTML preprocessor. I.e. you may write JavaScript, JSON or YAML and receive HTML at the end.
		</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">api.morph("html");
api.add({
	html: {
	    head: {
	    	title: "title"
	    },
	    body: {}
	}
}).compile(function(err, html) {
	// use the html here
});</code></pre>
The result of the above compilation is:
<pre><code class="language-markup">&lt;html>
	&lt;head>
		&lt;title>
			title
		&lt;/title>
	&lt;/head>
	&lt;body/>
&lt;/html></code></pre>
	</div>
	<br class="clear">
</section>

<!-- ----------------------- -->
<section>
	<div class="desc">
		<p>
			There are three special properties that you may set:<br />
		</p>
	</div>
	<div class="code">

		<em>_</em> (underscore) is interpreted  as node value.
		<pre><code class="language-javascript">body: {
	_: "page text"
}</code></pre>
Will be compiled to:
<pre><code class="language-markup">&lt;body>page text&lt;/body></pre></code>

<em>_attrs</em> accepts an object, which is used to define node attributes.
<pre><code class="language-javascript">body: {
	_attrs: { class: "black" }
}</code></pre>
The result is:
<pre><code class="language-markup">&lt;body class="black"/></pre></code>

<em>_tpl</em> is used when you have a template defined. During the usage of <em>add</em> method you may pass a template name. For example:
<pre><code class="language-javascript">api.add({
	title: "AbsurdJS preprocessor"
}, "title");

api.add({
	html: {
		head: {
			_tpl: "title"
		}
	}
})</code></pre>The above code is compiled to:
<pre><code class="language-markup">&lt;html>
	&lt;head>
		&lt;title>
			AbsurdJS preprocessor
		&lt;/title>
	&lt;/head>
&lt;/html>
</pre></code>

<em>_include</em> accepts an object or array of objects. It acts as templates. Just compiles the included objects.
<pre><code class="language-javascript">var paragraph = { p: "Paragraph text." };
var footer = { footer: "Footer text." };
var body = {
	_include: [
		{ h1: "Title here" },
		paragraph, 
		footer
	]
}
api.morph("html");
api.add({
	html: {
		_include: body
	}
});</code></pre>The result is:
<pre><code class="language-markup">&lt;html>
	&lt;h1>
		Title here
	&lt;/h1>
	&lt;p>
		Paragraph text.
	&lt;/p>
	&lt;footer>
		Footer text.
	&lt;/footer>
&lt;/html></pre></code>

	</div>
	<br class="clear">
</section>

<!-- ----------------------- -->
<section>
	<div class="desc">
		<p>
			If you want to speed up your writing you will be glad to see that Absurd supports <a href="http://docs.emmet.io/abbreviations/">Emmet</a> like syntax.
		</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">api.morph("html");
api.add({
	html: {
		head: {
			title: "AbsurdJS is awesome"
		},
		body: {
			'.content.left#wrapper': {
				'a[href="http://krasimir.github.io/absurd/"]': "AbsurdJS documentation",
				'p.text[title="description" data-type="selectable"]': "CSS preprocessor"
			}
		}
	}
});</pre></code>
The code produces:
<pre><code class="language-markup">&lt;html>
	&lt;head>
		&lt;title>
			AbsurdJS is awesome
		&lt;/title>
	&lt;/head>
	&lt;body>
		&lt;div class="content left" id="wrapper">
			&lt;a href="http://krasimir.github.io/absurd/">
				AbsurdJS documentation
			&lt;/a>
			&lt;p class="text" title="description" data-type="selectable">
				CSS preprocessor
			&lt;/p>
		&lt;/div>
	&lt;/body>
&lt;/html></code></pre>
	</div>
	<br class="clear">
</section>

<!-- ----------------------- -->
<a href="#" name="template-engine"></a>
<section>
	<div class="desc">
		<p>
			AbsurdJS could act as a template engine. Use <em>&lt;%</em> and <em>%&gt;</em> as place holders. The data is passed along with the callback in the <em>.compile</em> method.
		</p>
	</div>
	<div class="code"><pre><code class="language-javascript">api.morph("html").add({
  body: {
    p: "Hello, my name is <% this.data.name %>!",
      small: "I'm <% this.data.profile.age %> years old",
      ul: [        
        '<% for(var skill in this.data.skills) { %>',
        { li: {
          'a[href="#"]': 'I do <% this.data.skills[skill] %>'
        }},
        '<% } %>'
      ]
    }
}).compile(function(err, html) {
	/* html:
	&lt;body>
		&lt;p>Hello, my name is John!&lt;/p>
		&lt;small>I\'m 29 years old&lt;/small>
		&lt;ul>
			&lt;li>&lt;a href="#">I do javascript&lt;/a>&lt;/li>
			&lt;li>&lt;a href="#">I do html&lt;/a>&lt;/li>
			&lt;li>&lt;a href="#">I do css&lt;/a>&lt;/li>
		&lt;/ul>
	&lt;/body>
	*/
}, {
    data: {
	    name: "John",
	    profile: { age: 29 },
        skills: ['javascript', 'html', 'css']
    }
});</code></pre>
	</div>
	<br class="clear">
</section>
<h2>Metamorphosis / Component</h2>

<!-- ----------------------- -->
<section>
	<div class="desc">
		<p>
			AbsurdJS process CSS and HTML. So, why not doing both at the same time.
		</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">var page = {
	css: {
		".page": {
			marginTop: "20px",
			h2: {
				fontSize: "40px"
			}
		}
	},
	html: {
		'section.page': {
			h2: "That's a page"
		}
	}
}
api
.morph("component")
.add(page)
.compile(function(err, css, html) {
	// ...
});</code></pre>
The result of the above compilation is:
<pre><code class="language-markup">---- CSS ----
.page {
  margin-top: 20px;
}
.page h2 {
  font-size: 40px;
}

---- HTML ----
&lt;section class="page">
	&lt;h2>
		That's a page
	&lt;/h2>
&lt;/section></code></pre>
	</div>
	<br class="clear">
</section>

<!-- ----------------------- -->
<section>
	<div class="desc">
		<p>
			You can even nest components.
		</p>
	</div>
	<div class="code">
<pre><code class="language-javascript">var title = {
    css: {
        ".title": { fontSize: "30px" }
    },
    html: {
        "h1.title": "Title here"
    }
}
var header = function() {
    return {
        css: {
            header: { marginTop: "20px" }
        },
        html: {
            header: {
                span: "Header text"
            }
        }
    }
}
var page = {
	css: {
		".page": {
			marginTop: "20px",
			h2: {
				fontSize: "40px"
			}
		}
	},
	html: {
        _include: [header, title],
		'section.page': {
			h2: "That's a page"
		}
	}
}
api.morph("component").add(page);</code></pre>
The result is:
<pre><code class="language-markup">---- CSS ----
.page, header {
  margin-top: 20px;
}
.page h2 {
  font-size: 40px;
}
.title {
  font-size: 30px;
}

---- HTML ----
&lt;header>
	&lt;span>
		Header text
	&lt;/span>
&lt;/header>
&lt;h1 class="title">
	Title here
&lt;/h1>
&lt;section class="page">
	&lt;h2>
		That's a page
	&lt;/h2>
&lt;/section></code></pre>
	</div>
	<br class="clear">
</section>
<h3>API</h3>

<a name="api.add"></a>
<section>
	<div class="desc">
		<h4>.add</h4>
		<p>Parameters:<br />
			[object]</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">module.exports = function(api) {
    api.add({
        body: { 
            padding: 0 
        }
    });
}</code></pre>
	</div>
	<br class="clear">
</section>

<a name="api.import"></a>
<section>
	<div class="desc">
		<h4>.import</h4>
		<p>Parameters:<br />
			[string] | [[string, string, ...]]</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">module.exports = function(A) {
    A.import(__dirname + '/config/sizes.js');
    A.import([
        __dirname + '/config/colors.js',
        __dirname + '/config/sizes.js'
    ]);
}</code></pre>
		<p>AbsurdJS supports importing of JavaScript, JSON and CSS files.</p>
	</div>
	<br class="clear">
</section>

<a name="api.storage"></a>
<section>
	<div class="desc">
		<h4>.storage</h4>
		<p>Parameters:<br />
			[key], [value]</p>
	</div>
	<div class="code">
		<p>Setting value:</p>
		<pre><code class="language-javascript">module.exports = function(api) {
    api.storage("mixin", function(px) { 
        return {
            fontSize: px + 'px'
        }
    });
}</code></pre>
		<p>Getting value:</p>
		<pre><code class="language-javascript">module.exports = function(api) {
    api.add({
        body: [
            api.storage("mixin")(18)
        ]
    });
}  </code></pre>
	</div>
	<br class="clear">
</section>

<a name="api.plugin"></a>
<section>
	<div class="desc">
		<h4>.plugin</h4>
		<p>Parameters:<br />
			[name of property], [function]</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">api.plugin('my-custom-gradient', function(api, colors) {
    return {
        background: 'linear-gradient(to bottom, ' + colors.join(", ") + ')'
    };
});</code></pre>
		<p>The function of the plugin accepts two arguments. The first one is a reference to the API and second one is the value of the CSS property.</p>
	</div>
	<br class="clear">
</section>

<a name="api.darken"></a>
<section>
	<div class="desc">
		<h4>.darken</h4>
		<p>Parameters:<br />
			[color], [percents]</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">module.exports = function(api) {
    api.add({
        body: {
            color: api.darken('#BADA55', 25) // darken 25%
        }
    });
}</code></pre>
	</div>
	<br class="clear">
</section>

<a name="api.lighten"></a>
<section>
	<div class="desc">
		<h4>.lighten</h4>
		<p>Parameters:<br />
			[color], [percents]</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">module.exports = function(api) {
    api.add({
        body: {
            color: api.lighten('#BADA55', 25) // lighten 25%
        }
    });
}</code></pre>
	</div>
	<br class="clear">
</section>

<a name="api.raw"></a>
<section>
	<div class="desc">
		<h4>.raw</h4>
		<p>Parameters:<br />
			[string]</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">module.exports = function(api) {
    api.raw('/* comment here */');
}</code></pre>
	</div>
	<br class="clear">
</section>

<a name="api.compile"></a>
<section>
	<div class="desc">
		<h4>.compile</h4>
		<p>Parameters:<br />
			[function], [options]</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">api.compile(function(err, css) {
	// use the compiled css
}, {});
		</code></pre>
		<p>The <em>options</em> parameter is optional. It's default value is:</p>
	<pre><code class="language-javascript">{
	combineSelectors: true,
	minify: false,
	processor: [internal CSS preprocessor],
	keepCamelCase: false
}
		</code></pre>
	</div>
	<br class="clear">
</section>

<a name="api.compileFile"></a>
<section>
	<div class="desc">
		<h4>.compileFile</h4>
		<p>Parameters:<br />
			[path], [function], [options]</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">api.compileFile("css/styles.css", function(err, css) {
    // use the compiled css
}, {});
		</code></pre>
		<p>Check <em>.compile</em> method for more information regarding <em>options</em> parameter.</p>
	</div>
	<br class="clear">
</section>

<a name="api.hook"></a>
<section>
	<div class="desc">
		<h4>.hook</h4>
		<p>Parameters:<br />
			[method], [function]</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">api.hook("add", function(rules, stylesheet) {
	// write your logic here
	return true;
});
		</code></pre>
		<p>If your hook handler returns <em>true</em> the default method behaviour is skipped.</p>
	</div>
	<br class="clear">
</section>

<a name="api.register"></a>
<section>
	<div class="desc">
		<h4>.register</h4>
		<p>Parameters:<br />
			[method], [function]</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">api.register("toJSON", function(callback) {
	// your custom code here
})
		</code></pre>
	</div>
	<br class="clear">
</section>

<a name="api.morph"></a>
<section>
	<div class="desc">
		<h4>.morph</h4>
		<p>Parameters:<br />
			[type]</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">api.morph("html");</code></pre>
		<pre><code class="language-javascript">api.morph("component");</code></pre>
	</div>
	<br class="clear">
</section>
<h3>Testing</h3>

<section>
	<div class="desc">
		<p>The tests are placed in /tests directory. Install jasmine-node and run:</p>
	</div>
	<div class="code">
		<pre><code class="language-javascript">jasmine ./tests</code></pre>
	</div>
	<br class="clear">
</section>